In [1]:
import pandas as pd

import pickle
test=pd.read_csv('../data/output/test_X.csv')
test=test.drop(['Unnamed: 0'], axis=1)
test

,shop_id,item_id,item_category_type_code,item_category_subtype_code,shop_city_code,item_category_id,year,month,item_platform,item_digital,...,price_increase,price_decrease,item_cnt_min,item_cnt_max,item_cnt_mean,item_cnt_std,item_cnt_shifted1,item_cnt_shifted2,item_cnt_shifted3,item_trend
0,5,5037,0,0,0,0,0,0,0,0,...,0.0,25990.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,5320,0,0,0,0,0,0,0,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,5233,0,0,0,0,0,0,0,0,...,0.0,7191.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,5232,3,16,10,23,2015,9,0,0,...,942.0,3854.00,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
4,5,5268,0,0,0,0,0,0,0,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220187,45,18454,0,0,0,0,0,0,0,0,...,0.0,2189.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220188,45,16188,0,0,0,0,0,0,0,0,...,0.0,1359.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220189,45,15757,0,0,0,0,0,0,0,0,...,0.0,796.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220190,45,19648,0,0,0,0,0,0,0,0,...,0.0,297.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220191,45,969,0,0,0,0,0,0,0,0,...,0.0,5490.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
submission=pd.read_csv('../input/test.csv')
submission

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [4]:
# Merge and check
test_X = pd.merge(test, submission, on=['shop_id', 'item_id'], how='left')
print(len(test_X))
test_X.head()

220192

,shop_id,item_id,item_category_type_code,item_category_subtype_code,shop_city_code,item_category_id,year,month,item_platform,item_digital,...,price_decrease,item_cnt_min,item_cnt_max,item_cnt_mean,item_cnt_std,item_cnt_shifted1,item_cnt_shifted2,item_cnt_shifted3,item_trend,ID
0,5,5037,0,0,0,0,0,0,0,0,...,25990.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,5,5320,0,0,0,0,0,0,0,0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,5,5233,0,0,0,0,0,0,0,0,...,7191.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,5,5232,3,16,10,23,2015,9,0,0,...,3854.00,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,3
4,5,5268,0,0,0,0,0,0,0,0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [5]:
test_X=test_X.drop_duplicates(subset=['shop_id', 'item_id'])
test_X

,shop_id,item_id,item_category_type_code,item_category_subtype_code,shop_city_code,item_category_id,year,month,item_platform,item_digital,...,price_decrease,item_cnt_min,item_cnt_max,item_cnt_mean,item_cnt_std,item_cnt_shifted1,item_cnt_shifted2,item_cnt_shifted3,item_trend,ID
0,5,5037,0,0,0,0,0,0,0,0,...,25990.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,5,5320,0,0,0,0,0,0,0,0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,5,5233,0,0,0,0,0,0,0,0,...,7191.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,5,5232,3,16,10,23,2015,9,0,0,...,3854.00,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,3
4,5,5268,0,0,0,0,0,0,0,0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220187,45,18454,0,0,0,0,0,0,0,0,...,2189.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,214195
220188,45,16188,0,0,0,0,0,0,0,0,...,1359.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,214196
220189,45,15757,0,0,0,0,0,0,0,0,...,796.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,214197
220190,45,19648,0,0,0,0,0,0,0,0,...,297.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,214198
220191,45,969,0,0,0,0,0,0,0,0,...,5490.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,214199

In [6]:
test_X=test_X.drop(['ID'], axis=1)
test_X

,shop_id,item_id,item_category_type_code,item_category_subtype_code,shop_city_code,item_category_id,year,month,item_platform,item_digital,...,price_increase,price_decrease,item_cnt_min,item_cnt_max,item_cnt_mean,item_cnt_std,item_cnt_shifted1,item_cnt_shifted2,item_cnt_shifted3,item_trend
0,5,5037,0,0,0,0,0,0,0,0,...,0.0,25990.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,5320,0,0,0,0,0,0,0,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,5233,0,0,0,0,0,0,0,0,...,0.0,7191.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,5232,3,16,10,23,2015,9,0,0,...,942.0,3854.00,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
4,5,5268,0,0,0,0,0,0,0,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220187,45,18454,0,0,0,0,0,0,0,0,...,0.0,2189.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220188,45,16188,0,0,0,0,0,0,0,0,...,0.0,1359.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220189,45,15757,0,0,0,0,0,0,0,0,...,0.0,796.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220190,45,19648,0,0,0,0,0,0,0,0,...,0.0,297.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220191,45,969,0,0,0,0,0,0,0,0,...,0.0,5490.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
test_X.to_csv('../data/output/test_final.csv', index=False)

In [11]:
import pickle

# Load first model (index starts from 0)
MODEL_CB = pickle.load(open('../models/CB_MODEL.pickle', "rb"))

In [12]:
# Make predictions on train set
model_cb_pred= MODEL_CB.predict(test_X)

print('Model CB predictions:', model_cb_pred)

Model CB predictions: [-1.31203055e-04 -8.93299047e-04 -7.67056638e-04 ...  5.07560161e-05
  3.91888530e-05  7.96431780e-05]

In [9]:
sample_submission=pd.read_csv('../input/sample_submission.csv')
sample_submission

            ID  item_cnt_month
0            0             0.5
1            1             0.5
2            2             0.5
3            3             0.5
4            4             0.5
...        ...             ...
214195  214195             0.5
214196  214196             0.5
214197  214197             0.5
214198  214198             0.5
214199  214199             0.5

[214200 rows x 2 columns]

In [13]:
sample_submission['item_cnt_month']=model_cb_pred
sample_submission

            ID  item_cnt_month
0            0       -0.000131
1            1       -0.000893
2            2       -0.000767
3            3        0.987060
4            4       -0.000893
...        ...             ...
214195  214195        0.000045
214196  214196        0.000106
214197  214197        0.000051
214198  214198        0.000039
214199  214199        0.000080

[214200 rows x 2 columns]

In [14]:
sample_submission['item_cnt_month'].min()

-6.309625706077431

In [25]:
sample_submission.to_csv('./kaggle_submission_cb.csv', index=False)

In [1]:
#test_X=test_X.drop(['ID'], axis=1)

In [16]:
MODEL_ET = pickle.load(open('../models/ET_MODEL.pickle', "rb"))

# Make predictions on train set
# Make predictions on train set
model_et_pred= MODEL_ET.predict(test_X)

print('Model ET predictions:', model_et_pred)

Model ET predictions: [0. 0. 0. ... 0. 0. 0.]

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:    0.1s finished

In [2]:
#sample_submission['item_cnt_month']=model_et_pred
#sample_submission

In [20]:
sample_submission['item_cnt_month'].max()

28.737284873047525

In [21]:
sample_submission.to_csv('./kaggle_submission.csv', index=False)

In [26]:
MODEL_GBR= pickle.load(open('../models/GBR_MODEL.pickle', "rb"))

# Make predictions on train set
# Make predictions on train set
model_gbr_pred= MODEL_GBR.predict(test_X)

print('Model GBR predictions:', model_gbr_pred)

Model GBR predictions: [0.00376775 0.00376775 0.00376775 ... 0.00376775 0.00376775 0.00376775]

In [28]:
model_gbr_pred.min()

-0.09795444726154333

In [29]:
test_X

,shop_id,item_id,item_category_type_code,item_category_subtype_code,shop_city_code,item_category_id,year,month,item_platform,item_digital,...,price_increase,price_decrease,item_cnt_min,item_cnt_max,item_cnt_mean,item_cnt_std,item_cnt_shifted1,item_cnt_shifted2,item_cnt_shifted3,item_trend
0,5,5037,0,0,0,0,0,0,0,0,...,0.0,25990.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,5320,0,0,0,0,0,0,0,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,5233,0,0,0,0,0,0,0,0,...,0.0,7191.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,5232,3,16,10,23,2015,9,0,0,...,942.0,3854.00,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
4,5,5268,0,0,0,0,0,0,0,0,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220187,45,18454,0,0,0,0,0,0,0,0,...,0.0,2189.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220188,45,16188,0,0,0,0,0,0,0,0,...,0.0,1359.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220189,45,15757,0,0,0,0,0,0,0,0,...,0.0,796.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220190,45,19648,0,0,0,0,0,0,0,0,...,0.0,297.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220191,45,969,0,0,0,0,0,0,0,0,...,0.0,5490.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0